.login-container {
    background-image: url('../../assets/sub-container.jpg'); 
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-field {
    background-color: #EAF0F7; 
}

.login-button {
    background-color: #A87FF3; 
    color: white; 
    border: none; 
    padding: 0.5rem 1rem; 
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    border-radius: 0.25rem; 
}

.login-button:hover {
    background-color: #916de8; 
}

