# Virtual environments 
env/
venv/
virtualenv/ 

# Django
backend/backend/__pycache__/
backend/db.sqlite3
backend/*.log
backend/*.pot
backend/*.pyo
backend/*.back 

backend/moviegram/__pycache__/
backend/moviegram/management/commands/__pycache__/
backend/moviegram/migrations/

# Ignore test coverage report
backend/.coverage 



# Local Netlify folder
.netlify
