.header {
    background-color: #fff;
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 105;
    padding-top: 20px;
}

.header-inner {
    max-width: 800px; /* Adjust the width */
    width: 100%;
    margin: 0 auto;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px; 
}

.logo {
    width: 115px;
    height: 30.001px;
    flex-shrink: 0;
}

nav {
    display: flex;
    justify-content: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    height: 50px;
    background-color: #f8f9fa;
    border-radius: 8px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
}

nav ul li {
    margin: 0 10px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #9b9999;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    color: #fff;
    background-color: #a87ff3;
}
